{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="position-fixed position-absolute top-0 start-50 translate-middle-x p-3" style="z-index: 99">
    <div id="liveToast" class="toast hide " role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-{{category}} text-light">
            <strong class="me-auto">Notification</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-light">
            {{message}}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}